*/

/*--------------------------------------------------------------
# Estilizações Gerais
--------------------------------------------------------------*/
:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #0274be;
    text-decoration: none;
}

a:hover {
    color: #0274be;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

.section-header h2 {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #0274be;
    text-transform: uppercase;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #0274be;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #2fbfee;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}

.header.header-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
    line-height: 0;
}

.header .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #0274be;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}

/*--------------------------------------------------------------
# Menu de Navegação
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #152A47;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #2fbfee;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    background: #0274BE;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #2fbfee;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #2fbfee;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

.navbar .loggedUser {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar .loggedUser strong,
.navbar .loggedUser strong:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #152A47;
    white-space: nowrap;
    transition: 0.3s;
}



@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #012970;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 1200px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #0274BE;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #4154f1;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #0274BE;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# SMS Marketing Section
--------------------------------------------------------------*/
.sms-marketing-header {
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg.png) top center no-repeat;
    background-size: cover;
}

.sms-marketing-header h1 {
    position: relative;
    font-size: 38px;
    font-weight: 700;
    color: #152A47;
}

.sms-marketing-header h1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 100px;
    border-radius: 8px;
    background-color: #2fbfee;
}

.sms-marketing-header p {
    color: #444444;
    margin: 20px 0 0 0;
    font-size: 23px;
}

.sms-marketing-header .marketing-img img {
    width: 85%;
}

.sms-marketing-header .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

.sms-marketing-header .btn-teste-gratis-blue {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #0274BE;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.sms-marketing-header .btn-teste-gratis-blue:hover {
    color: #fff;
    background: #B32717;
}

.sms-marketing-header .btn-teste-gratis-blue span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.sms-marketing-header .btn-teste-gratis-blue i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.sms-marketing-header .btn-teste-gratis-blue:hover i {
    transform: translateX(5px);
}

.sms-marketing-header .btn-teste-gratis-green {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #448A48;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.sms-marketing-header .btn-teste-gratis-green:hover {
    color: #fff;
    background: #B32717;
}

.sms-marketing-header .btn-teste-gratis-green span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.sms-marketing-header .btn-teste-gratis-green i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.sms-marketing-header .btn-teste-gratis-green:hover i {
    transform: translateX(5px);
}


.sms-marketing-header .hero-img {
    text-align: right;
}

@media (min-width: 1024px) {
    .sms-marketing-header {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .sms-marketing-header {
        height: auto;
        padding: 120px 0 60px 0;
    }

    .sms-marketing-header .hero-img {
        text-align: center;
        margin-top: 80px;
    }

    .sms-marketing-header .hero-img img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .sms-marketing-header {
        text-align: left;
    }

    .sms-marketing-header h1 {
        font-size: 32px;
    }

    .sms-marketing-header h1::before {
        width: 50px;
    }

    .sms-marketing-header h2 {
        font-size: 24px;
    }

    .sms-marketing-header .hero-img img {
        width: 100%;
    }
}

@keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Section SMS Marketing Info
--------------------------------------------------------------*/

.sms-marketing .box {
    position: relative;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 65px;
}

.sms-marketing .icon {
    margin: 0 auto 20px auto;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #dbf3db;
    transition: all 0.3s ease-in-out;
}

.sms-marketing .box i {
    font-size: 35px;
    text-align: center;
    color: #0274BE;
}

.sms-marketing-subs h2 {
    font-family: "Nunito", sans-serif;
    text-align: center;
    line-height: 60px;
    letter-spacing: -2px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #152A47;
}

.sms-marketing .box h3 {
    color: #2fbfee;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.sms-marketing .box p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 550;
}

/*--------------------------------------------------------------
# End Section SMS Marketing Info
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# About SMS Marketing
--------------------------------------------------------------*/
.sms-marketing-about .sms-marketing-title h2 {
    font-family: "Nunito", sans-serif;
    position: relative;
    text-align: left;
    font-style: normal;
    font-size: 35px;
    font-weight: 700;
    color: #152A47;
}

.sms-marketing-about .sms-marketing-title h2::before {
    content: "";
    position: absolute;
    text-align: left;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 100px;
    border-radius: 8px;
    background-color: #2fbfee;
}

.sms-marketing-about h3 {
    font-family: "Nunito", sans-serif;
    margin-top: 15px;
    letter-spacing: -0.5px;
    font-size: 20px;
    font-weight: 550;
}

@media (max-width: 768px) {
    .sms-marketing-about .sms-marketing-title h2 {
        text-align: center;
        justify-content: center;
        }

    .sms-marketing-about .sms-marketing-title h2::before {
        text-align: center;
        justify-content: center;
        width: 50px;
        
    }
}

.smsMarketing-function .functions h3 {
    font-family: "Nunito", sans-serif;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 550;
}

.smsMarketing-function .functions-title h2{
    font-family: "Nunito", sans-serif;
    position: relative;
    text-align: left;
    font-style: normal;
    font-size: 35px;
    font-weight: 700;
    color: #152A47;
}

.smsMarketing-function .functions-title h2::before {
    content: "";
    position: absolute;
    text-align: left;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 100px;
    border-radius: 8px;
    background-color: #2fbfee;
}

/*--------------------------------------------------------------
# Section SMS Marketing Benefits
--------------------------------------------------------------*/

.smsMarketing-benefits .section-title h2 {
    font-family: "Nunito", sans-serif;
    margin-bottom: 50px;
    position: relative;
    text-align: left;
    font-style: normal;
    font-size: 35px;
    font-weight: 700;
    color: #152A47;
}

.smsMarketing-benefits .section-title h2::before {
    content: "";
    position: absolute;
    text-align: left;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 100px;
    border-radius: 8px;
    background-color: #2fbfee;    
}
.smsMarketing-benefits .benefits-box {
    padding: 50px 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
    height: 200px;
    position: relative;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  .smsMarketing-benefits .title {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
  }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer .footer-newsletter {
    padding: 50px 0;
    background: #0274be;
    border-top: 1px solid #e1ecff;
}

.footer .footer-newsletter h4 {
    font-size: 30px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
}

.footer .btn-contact {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-weight: 600;

}

.footer .btn-contact:hover {
    background: #ffffff;
    color: #232323;
    font-weight: 600;
    border: 2px solid #ffffff;
    transition: none;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.footer .footer-top {
    background: white url(../img/footer-bg.png) no-repeat right top;
    background-size: contain;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
    .footer .footer-top {
        background-position: center bottom;
    }
}

.footer .footer-top .footer-info {
    margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.footer .footer-top .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}

.footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
}

.footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
    color: #012970;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #012970;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-top .footer-links {
    margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #d0d4fc;
    font-size: 12px;
    line-height: 0;
}

.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    color: #013289;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
    color: #4154f1;
}

.footer .footer-top .footer-contact p {
    line-height: 26px;
}

.footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #012970;
}

.footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #012970;
}